.weather__image {
    width: 150px;
}

.weather__temp {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.card_city-name {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 28px;
    margin: 0;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 482px) {
    .card_city-name {
        font-size: 22px;
    }
}

.card__weather-description {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.card__weather-time {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255); 
}